.services-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    top: 70px;
    text-align: center;
  }
  
  .services-section h1 {
    font-size: 3.5rem;
    position: relative;
    top: 00px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .service-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .service-card .subtitle {
    color: #888;
    margin-bottom: 15px;
    font-style: italic;
  }
  
  .service-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .learn-more {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .learn-more:hover {
    background-color: #444;
  }
  @media (max-width: 1400px) {
    .services-section {
     padding: 5px;
    }
    
    }
  