
.vineyard-services_travaux{
    max-width: 1500px;
    margin: 20px auto;
    position: relative;
    top: 80px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: transparent solid;
}
.services-container_travaux{
  border: transparent solid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
      
}
h1{
    text-align: center;
}
    
@media (max-width: 450px) {
   
.vineyard-services_travaux{
   
    margin: 20px auto;
   
    padding: 0px;
 
}
  }
  